# Terraform
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
.terraform/

#ansible
*.retry

#packer
variables.json

#ssh keys
dockerhost
dockerhost.pub

#docker compose
.env
docker-compose.override.yml

vault.key

#GCP creds
key.json
secrets.tar.gz

build_info.txt

tls.key
tls.crt

Gitlab_ci